<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Usuario</title>
    <link rel="stylesheet" href="{% static 'styles/modificar.css' %}">
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</head>
<body>
    <a href="{% url 'Casino:index' %}?nom=admin&con=admin" class="volver" style="background-image: url({% static 'images/volver.png' %});"></a>
    <h1>Modificar un usuario</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="opcion" value="Modificar" onclick="showAlert()" style="margin-top: 10%;">Modificar</button>
    </form>
    <script>
        function showAlert() {
          alert("Datos modificados !");
        }
    </script>
</body>
<footer>  
    <p>© 2023, Duoc uc</p>
    <p>Todos los derechos reservados.</p>
</footer>
</html>
