#titulo{
    margin-right: 42%;

}
#palabra2{
    color: orange;
}
footer {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-family: Arial, sans-serif;
} 