
#titulo{
    margin-right: 39%;
    font-size: 4vw;
}
#palabra2{
    color: orange;
}
footer {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin-top: 15%;
} 
.support-button{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    background-color:orange;
    box-shadow: 0px 3px 12px rgba(0,0, 0, 2);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.container{
    margin-top: 5%;
}