<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar un usuario</title>
    <link rel="stylesheet" href="{% static 'administracion.css'%}">
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</head>
<body>
    <form action="../agregaruser/" method="post">
        {% csrf_token %}
        
        <pre>RUT:                       <input type="text" name="rut"></pre>
        <pre>Nombre:                            <input type="text" name="nombre"></pre>
        <pre>Contraseña:                  <input type="text" name="contra"></pre>
        <pre>Ciudad:                      <select name="nombre_ciudad">
            {% for ciudad in nombre_ciudad %}
                <option value="{{ ciudad.id_ciudad }}" {% if ciudad.id_ciudad == selected_ciudad %}selected{% endif %}>{{ ciudad.nombre_ciudad }}</option>
            {% endfor %}
        </select></pre>
        <pre>Saldo:                      <input type="text" name="saldo"></pre>
        <pre>Correo:                     <input type="text" name="correo"></pre>
        
        <input type="submit" name="opcion" value="Enviar">
    </form>
    <a href="{% url 'Casino:index'%}?nom=admin&con=admin" onclick="">Volver</a> 
    
</body>
<footer>  
    <p>© 2023, Duoc uc</p>
    <p>Todos los derechos reservados.</p>
</footer>
</html>