<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{% static 'js/administracion.js' %}"></script>
    <link rel="stylesheet" href="{% static 'styles/ver.css' %}">
</head>
<body>
    <a href="{% url 'Casino:index'%}?nom=admin&con=admin" class="volver" style="background-image: url({% static 'images/volver.png' %});"></a>
    <button id="btnAdministrar" style="display: none;"></button>
    <div id="cuadro"></div>
    <h1>USUARIOS</h1>
    <form method="post" action="">
        {% csrf_token %}
        <input type="text" name="nombre" placeholder="Ingrese nombre">
        <button type="submit">Buscar</button>
    </form>
    <div style="background-color: rgba(240, 248, 255, 0.671);">
    {% for m in usuario %}
        
        <br>- RUT: {{m.rut}}<br>
        - Nombre: {{m.nombre}}<br>
        - Contraseña: {{m.contra}}<br>
        - Ciudad: {{m.id_ciudad.nombre_ciudad}}<br>
        - Saldo: {{m.saldo}}<br>
        - Correo: {{m.correo}}<br>
    {% empty %}
        <h4>No se encontraron usuarios</h4>
    {% endfor %}</div>
    
</body>
<footer>  
    <p>© 2023, Duoc uc</p>
    <p>Todos los derechos reservados.</p>
</footer>
</html>
